.star-btn {
	position: relative;
	padding: 12px 35px;
	background: #00fffc;
	font-size: 17px;
	font-weight: 500;
	color: #181818;
	border: 3px solid #00fffc;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.star-btn:hover {
	background: transparent;
	color: #00fffc;
	box-shadow: 0 0 25px #fec1958c;
}

.star-btn div {
	position: absolute;
	filter: drop-shadow(0 0 0 #fffdef);
	z-index: -5;
	transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-1 {
	top: 20%;
	left: 20%;
	width: 25px;
}
.star-2 {
	top: 45%;
	left: 45%;
	width: 15px;
}
.star-3 {
	top: 40%;
	left: 40%;
	width: 5px;
}
.star-4 {
	top: 20%;
	left: 40%;
	width: 8px;
	transition-duration: 0.8s;
}
.star-5 {
	top: 25%;
	left: 45%;
	width: 15px;
	transition-duration: 0.6s;
}
.star-6 {
	top: 5%;
	left: 50%;
	width: 5px;
	transition-duration: 0.8s;
}

.star-btn:hover .star-1 {
	top: -80%;
	left: -30%;
	z-index: 2;
	filter: drop-shadow(0 0 10px #fffdef);
}
.star-btn:hover .star-2 {
	top: -25%;
	left: 10%;
	z-index: 2;
	filter: drop-shadow(0 0 10px #fffdef);
}
.star-btn:hover .star-3 {
	top: 55%;
	left: 25%;
	z-index: 2;
	filter: drop-shadow(0 0 10px #fffdef);
}
.star-btn:hover .star-4 {
	top: 30%;
	left: 80%;
	z-index: 2;
	filter: drop-shadow(0 0 10px #fffdef);
}
.star-btn:hover .star-5 {
	top: 25%;
	left: 115%;
	z-index: 2;
	filter: drop-shadow(0 0 10px #fffdef);
}
.star-btn:hover .star-6 {
	top: 5%;
	left: 60%;
	z-index: 2;
	filter: drop-shadow(0 0 10px #fffdef);
}

@media (max-width: 768px) {
	.small-btn {
		padding: 8px 18px;
		font-size: 15px;
		margin-bottom: 10px;
	}
}
